<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>Products Shop</title>

    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<main>

	<h1>Form</h1>

    <form action="#" th:action="@{/products}" th:object="${new-product}" method="post">
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</main>

</body>
</html>